@import 'tailwindcss';

:root {
	--card-width: 240px;
	--card-height: 336px;
}

body {
	background-color: #166534;
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.card-image {
	touch-action: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}
